deviceFlowPart2
[{"id":"63a98090.ee2ea8","type":"rpi-srf","z":"6048f26c.434d24","name":"","topic":"SRF","pulse":"1","pins":"7,11","x":270,"y":140,"wires":[["7d836328.4e08c4","7436d144.054fb8"]]},{"id":"7d836328.4e08c4","type":"debug","z":"6048f26c.434d24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":140,"wires":[]},{"id":"7436d144.054fb8","type":"wiotp out","z":"6048f26c.434d24","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"fcf73a8e.16b71","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":490,"y":240,"wires":[]},{"id":"858dddb2.d5108","type":"wiotp in","z":"6048f26c.434d24","authType":"d","deviceKey":"fcf73a8e.16b71","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":290,"y":580,"wires":[["66038191.6e8f","cebfe36f.7648f8"]]},{"id":"66038191.6e8f","type":"debug","z":"6048f26c.434d24","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":500,"wires":[]},{"id":"c4f6ca29.0818e8","type":"rpi-gpio out","z":"6048f26c.434d24","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":750,"y":540,"wires":[]},{"id":"cebfe36f.7648f8","type":"function","z":"6048f26c.434d24","name":"","func":"var occupied = msg.payload.occupied;\n\nnode.status({fill:\"green\",shape:\"dot\",text:occupied});\n\nreturn [{\"payload\": !occupied}, {\"payload\": occupied}];","outputs":2,"noerr":0,"x":500,"y":580,"wires":[["c4f6ca29.0818e8"],["406fd36c.b115f4"]]},{"id":"406fd36c.b115f4","type":"rpi-gpio out","z":"6048f26c.434d24","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":750,"y":620,"wires":[]},{"id":"fcf73a8e.16b71","type":"wiotp-credentials","z":"","name":"","org":"55mgde","serverName":"","devType":"ProximitySensor","devId":"mySensor","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
