deviceFlowPart2
[{"id":"135d0696.de4729","type":"rpi-srf","z":"7a87ffaf.ecd06","name":"","topic":"SRF","pulse":"1","pins":"7,11","x":347,"y":137,"wires":[["897f3aff.d7d5f8","39332ea6.dfd402"]]},{"id":"897f3aff.d7d5f8","type":"debug","z":"7a87ffaf.ecd06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":577,"y":137,"wires":[]},{"id":"bc271c00.4d75f","type":"rpi-gpio out","z":"7a87ffaf.ecd06","name":"Green","pin":"22","set":true,"level":"0","freq":"","out":"out","x":710,"y":200,"wires":[]},{"id":"42335582.d107cc","type":"rpi-gpio out","z":"7a87ffaf.ecd06","name":"Red","pin":"24","set":true,"level":"0","freq":"","out":"out","x":710,"y":280,"wires":[]},{"id":"39332ea6.dfd402","type":"function","z":"7a87ffaf.ecd06","name":"Free/Occupied","func":"free = msg.payload > 20;\n\nreturn [{\"payload\": free}, {\"payload\": !free}];","outputs":2,"noerr":0,"x":540,"y":240,"wires":[["bc271c00.4d75f"],["42335582.d107cc"]]}]
